In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [2]:
application_df.columns

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN','NAME'],axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_count = application_df['APPLICATION_TYPE'].value_counts()
application_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_count[application_count < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
  # print(app)
  application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count[classification_count > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace= application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts()<1000].index
# classifications_to_replace = list(classification_count[classification_count < 1000].index)
classifications_to_replace
# Replace in dataframe
for cls in classifications_to_replace: 
  application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
  
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
# X = application_df.drop('IS_SUCCESSFUL',axis=1)
X_dummies = pd.get_dummies(application_df)

In [11]:
len(X_dummies.columns)

44

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X= X_dummies.drop('IS_SUCCESSFUL',axis=1).values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [13]:
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
len(X_train[0])

43

Compile,Train and Evaluate

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train[0])
hidden_layer1 =  80
hidden_layer2 = 30
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer1, activation="relu", input_dim=input_features))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer2, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5697 - accuracy: 0.7226
Epoch 2/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5563 - accuracy: 0.7286
Epoch 3/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5531 - accuracy: 0.7286
Epoch 4/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5516 - accuracy: 0.7300
Epoch 5/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5500 - accuracy: 0.7302
Epoch 6/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5491 - accuracy: 0.7306
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5473 - accuracy: 0.7312
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7333
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7329
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5457 - accuracy: 0.7344
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7316
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7331
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7331
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7325
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7352
Epoch 16/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5432 - accuracy: 0.7343
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7349
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7353
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7357
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7365
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7356
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7356
Epoch 23/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5416 - accuracy: 0.7364
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5414 - accuracy: 0.7353
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7369
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7367
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7377
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7365
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7368
Epoch 30/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5401 - accuracy: 0.7366
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7374
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7372
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7372
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7379
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7385
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7373
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7376
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7376
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7383
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7371
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7384
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7377
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5383 - accuracy: 0.7383
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5382 - accuracy: 0.7385
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7381
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7386
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7381
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7391
Epoch 49/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5376 - accuracy: 0.7387
Epoch 50/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5374 - accuracy: 0.7390
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7386
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7388
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7384
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7385
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7397
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5368 - accuracy: 0.7388
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7392
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7390
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7393
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7397
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7390
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7393
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7390
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7386
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7386
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7391
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7395
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7399
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5362 - accuracy: 0.7395
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5359 - accuracy: 0.7394
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7393
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7397
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7404
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7401
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7397
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7394
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5354 - accuracy: 0.7398
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7388
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7386
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7399
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7406
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7403
Epoch 83/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5346 - accuracy: 0.7404
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7390
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7405
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7402
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7399
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7403
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5346 - accuracy: 0.7397
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5346 - accuracy: 0.7392
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7400
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7400
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7397
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7402
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7406
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7401
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7399
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7396
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7408
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7404

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5602 - accuracy: 0.7303 - 620ms/epoch - 2ms/step
Loss: 0.5602013468742371, Accuracy: 0.7302623987197876